<style type="text/css">
    body, html, .body {
        font-family: "Century Gothic";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        color: #444;
    }

    hr {
        color: #D9D6D6;
        height: 1px;
        border: 0;
    }
</style>
<container>
    <spacer size="16"></spacer>
    <row>
        <columns large="8">
            <table style="width: 100%; text-align: center">
                <tr>
                    <td>
                        <table style="width: 40%; text-align: left">
                            <tr>
                                <td style="text-align: center; font-size: 14px;">
                                    <p>
                                        <b style="color: #cb132d; font-size: 24px">Captura de cliente feria 2 ruedas</b>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table style="width: 100%">
                                        <tr>
                                            <td style="width: 100%;">
                                                <br/>
                                                <b>Cliente: </b>(${documento}) ${cliente}
                                                <br/>
                                                <b>Tel&eacute;fono: </b>${telefono}
                                                <br/>
                                                <b>Correo: </b>${correo}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table style="width: 100%">
                                        <tr>
                                            <td style="width: 100%;">
                                                <br/>
                                                <hr>
                                                <br/>
                                                <b>Interesado en:</b>
                                                <br/>
                                                <p style="text-align: justify;">
                                                    ${mensaje}
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <hr>
                            <br/>
                            <tr>
                                <td>
                                    <P style="color: #FFFFFF; background: #5e2129; text-align: center;">
                                        Nuestro equipo de asesores te contactara en el menor tiempo posible
                                    </P>
                                </td>
                            </tr>
                            <hr>
                            <tr>
                                <td>
                                    <img src="http://wali.igbcolombia.com:8080/shared/images/logo/email-igb.png" alt="footer"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><b>IGB S.A.S</b> | Calle 98 Sur Nro. 48 - 225 | La Estrella, Colombia<br/>Tel.: (57) (4) 444 2025 | Ext: 305<br/></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><i>Este correo es solo informativo, por favor evite responderlo.</i></p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </columns>
    </row>
</container>