<style type="text/css">
    body, html, .body {
        font-family: "Century Gothic";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        color: #444;
    }

    hr {
        color: #D9D6D6;
        height: 1px;
        border: 0;
    }
</style>
<container>
    <spacer size="16"></spacer>
    <row>
        <columns large="8">
            <table style="width: 100%; text-align: center">
                <tr>
                    <td>
                        <table style="width: 40%; text-align: left">
                            <tr>
                                <td style="text-align: center; font-size: 14px;">
                                    <p>
                                        <b style="color: #355278; font-size: 30px">${status} Asociado en Femprobien</b>
                                    </p>
                                </td>
                            </tr>
                            <hr>
                            <tr>
                                <td>
                                    <table style="width: 100%">
                                        <tr>
                                            <td style="width: 100%;">
                                                <br/>
                                                <b>Asociado: </b>${cardName}
                                                <br/>
                                                <b>Documento: </b>${cardCode}
                                                <br/>
                                                <b>Fecha Registro: </b>${docDate}
                                                <br/>
                                                <b>Comentario: </b>${comment}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <hr>
                            <tr>
                                <td>
                                    <br/>
                                    <P style="color: #fff; background: #333; text-align: center;">
                                        Le informamos que su afiliaci&oacute;n al fondo de empleados se encuentra pendiente de revisi&oacute;n.
                                    </P>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b><b></b><i><br/>Este correo es solo informativo, por favor evite responderlo.</i></b></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="http://wali.igbcolombia.com:8080/shared/images/logo/footer-femprobn.png"
                                         alt="footer"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><b>Femprobien</b> | Calle 98 Sur Nro. 48 - 225 | La Estrella, Colombia<br/>Tel.:
                                        (57) (4) 444 2025 | Ext: 225<br/>
                                        <i>La informaci&oacute;n enviada en este correo, es exclusiva para la(s) persona(s) a la(s) cual(es) se dirige y pueden contener informaci&oacute;n confidencial y/o material privilegiado de FONDO DE EMPLEADOS DEL GRUPO IGB. Cualquier revisi&oacute;n, retransmisi&oacute;n o uso del mismo, as&iacute como cualquier acci&oacute;n que se tome respecto a la informaci&oacute;n contenida por personas o entidades diferentes al prop&oacute;sito original de la misma, es ilegal. Si recibe este mensaje por error por favor elim&iacutenelo.</i>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </columns>
    </row>
</container>